.form-group.file-upload
  input.form-control(type="text" placeholder="{{ multipleFiles ? 'Escolha 1 ou mais arquivos...' : (fileMetadata.fileName || 'Escolha o arquivo...') }}" 
  ng-disabled="uploadStatus == 'processing'" ngf-select="vm.upload($file)" ngf-multiple="multipleFiles" 
  ng-model="s3UrlFilePath" ga-event-action s3-file-upload 
  s3-sign-request-uri="options.templateOptions.signRequestUri" 
  s3-file-name-prefix="options.templateOptions.fileNamePrefix" 
  s3-bucket="options.templateOptions.bucket" 
  s3-file-url="model[options.key]" ng-required="to.required" 
  s3-on-started="onStarted(uploadedFile)")

  span.upload-feedback(ng-if="!multipleFiles")
    i.fa.fa-circle-o-notch.fa-spin(ng-show="fileMetadata.status == 'processing'")
    i.fa.fa-check.success(ng-show="fileMetadata.status == 'success'")
    i.fa.fa-times.success(ng-show="fileMetadata.status == 'failed'")

  span.upload-feedback(ng-if="multipleFiles" ng-repeat="meta in fileMetadata")
    i.fa.fa-circle-o-notch.fa-spin(ng-show="meta.status == 'processing'")
    i.fa.fa-check.success(ng-show="meta.status == 'success'")
    i.fa.fa-times.success(ng-show="meta.status == 'failed'")
    | &nbsp;{{meta.fileName}}&nbsp;&nbsp;
    a.btn.btn-link.btn-sm(ng-click="remove($index)")
            i.fa.fa-close
    br
