.form-group.file-upload
  input.form-control(type="text" placeholder="{{ multipleFiles ? labels.chooseMultipeFilesButtonLabel : (fileMetadata.fileName || labels.chooseSingleFileButtonLabel) }}" 
  ng-disabled="uploadStatus == 'processing'" ngf-select="vm.upload($file)" ngf-multiple="multipleFiles" 
  ng-model="s3UrlFilePath" ga-event-action s3-file-upload 
  s3-sign-request-uri="options.templateOptions.signRequestUri" 
  s3-file-name-prefix="options.templateOptions.fileNamePrefix" 
  s3-bucket="options.templateOptions.bucket" 
  s3-file-url="localModel[options.key]" ng-required="options.templateOptions.required && !localModel[options.key]" 
  s3-on-started="onStarted(uploadedFile)" 
  s3-on-success="onSuccess()")

  span.upload-feedback(ng-if="!multipleFiles")
    i.fa.fa-upload(ng-show="!fileMetadata.status")
    i.fa(ng-show="fileMetadata.status" ng-class="{ \
      'fa-circle-o-notch': fileMetadata.status == 'processing', \
      'fa-spin': fileMetadata.status == 'processing', \
      'fa-check': fileMetadata.status == 'success', \
      'fa-times': fileMetadata.status == 'failed'}")

  span.upload-feedback(ng-if="!!multipleFiles" ng-repeat="meta in fileMetadata")
    i.fa.fa-upload(ng-show="!meta.status")
    i.fa(ng-class="{ \
      'fa-circle-o-notch': meta.status == 'processing', \
      'fa-spin': meta.status == 'processing', \
      'fa-check': meta.status == 'success', \
      'fa-times': meta.status == 'failed'}")
    | &nbsp;{{meta.fileName}}&nbsp;&nbsp;
    a.btn.btn-link.btn-sm(ng-click="remove($index)")
            i.fa.fa-close
  br
  div.file-upload-thumbnail(ng-if="options.templateOptions.thumbnailEnabled")
    img.file-upload-preview(ng-src="{{localModel[options.key]}}" ng-class="options.templateOptions.thumbnailClass"
    ng-if="!!localModel[options.key]")
    img.file-upload-foreground(ng-src="{{options.templateOptions.thumbnailForeground}}" 
    ng-if="options.templateOptions.thumbnailForeground && !localModel[options.key]")
